<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBonsTech" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="207900000" maxBufferSize="207900000" maxReceivedMessageSize="207900000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="207900000" maxArrayLength="207900000"
            maxBytesPerRead="207900000" maxNameTableCharCount="207900000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.26.23.27:10080/BonsTech.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IBonsTech" contract="BangTaiJK.IBonsTech"
          name="BasicHttpBinding_IBonsTech" />
    </client>
  </system.serviceModel>
</configuration>