<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/wacfhis4/MediInfoHis.svc"
                binding="basicHttpBinding" bindingConfiguration="WebPoint"
                contract="SR.IHisApplay" name="WebPoint" />
        </client>
    </system.serviceModel>
</configuration>