<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LogUnity" type="SWSoft.Framework.LogUnity,SWSoft.Caller"/>
  </configSections>
  <LogUnity>
    <enable>true</enable>
    <connect>sqlite</connect>
    <insql>insert into [loginfo] values(datetime('now'),{0},'{1}','{2}','{3}')</insql>
    <!-- 运行模式  1 调试 2 试运行 3 正式运行 -->
    <runlevel>1</runlevel>
  </LogUnity>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=localhost;database=a0307111628;uid=sa;pwd=code;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=NETORACLE;User ID=system;password=root;Unicode=True; Pooling=true;Max Pool Size=5;Min Pool Size=3" providerName="System.Data.OracleClient" />
  </connectionStrings>
</configuration>