<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55934/eRadInfo.Web/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="LaiDaWebService.WebServiceSoap" name="WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>